<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961081196360-g09bc58ca7cah08ao8c50rurqc4coada.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961081196360-g09bc58ca7cah08ao8c50rurqc4coada</string>
	<key>API_KEY</key>
	<string>AIzaSyAixTRQRGtVXvxjHEmorO3n-sohtejMSSs</string>
	<key>GCM_SENDER_ID</key>
	<string>961081196360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-8aa52</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-8aa52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961081196360:ios:c4b724c97811ce0daefd7d</string>
</dict>
</plist>